* {
    padding: 0;
    margin: 0;
}

.ContainerTotal {
    background-color: #f00e0e;
    display: flex;
    height: 100vh;
    margin: auto;

}


.ContainerSkills {
    background-color: #13d142;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.h1Skills {
    background-color: #02000000;
    width: 200px;
    margin: auto;
    padding-top: 10px;
    font-size: 40px;



}



.ContainerCard {
    background-color: #2000d800;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 20px;

}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 10px;
}

/* Estilos de la imagen */
.card-img-top {
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Estilos del título */
.card-body h3 {
    font-size: 20px;
    margin: 10px 0;
}

/* Estilos del contenido */
.card-text {
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}

.ContainerTecnologias {
    background-color: #ccc;
    height: 70px;

}

.Tecnologia {
    height: 50px;
}

.h2Lenguaje {
    background-color: #13d14300;
    padding-top: 30px;
    font-size: 40px;
}

.containerLenguajes {
    gap: 20px;
    padding-top: 20px;


}


.Tecnologia {
    height: 90px;
    border: none;
    padding-top: 5px auto;

}

.hrefClasname img:hover {
    animation: bounce 0.5s;
  }
  
  @keyframes bounce {
    0%, 5%, 10%, 80%{
      transform: translateY(0);
    }
    40%{
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  